# Macos files
.DS_Store

# Firebase files
logs/
firebase-tools.json
update-notifier-firebase-tools.json

# Copilot configuration
github-copilot/

# SSH files
id_ed25519
id_ed25519.pub
id_rsa
id_rsa.pub
known_hosts
known_hosts.old

# Ansible password
ansible_password.txt

# Wakatime Config
.wakatime.cfg

# Judge0 Token
.judge0-uploader.yaml

# Unsplash API
.unsplash_api_key

# GPG configuration
dot/.gnupg/openpgp-revocs.d/
private-keys-v1.d
pgp_public.txt
pgp_secret.txt
pubring.kbx
pubring.kbx~
trustdb.gpg

# local share
dot/.local/share/nvim/

# local applications
dot/.config/biolab.si/
dot/.config/configstore/
dot/.config/gcloud/
dot/.config/gh/
dot/.config/htop/
dot/.config/iterm2/
dot/.config/jgit/
dot/.config/exercism/
dot/.config/flipperdevices.com/
dot/.config/flutter/
dot/.config/neofetch/
dot/.config/pip/
dot/.config/yarn/
dot/.config/nvim/.luarc.json
dot/.config/simple-update-notifier/
dot/.config/SmartSetMasterErgo (Mac)/
dot/.config/raycast/
dot/.config/binwalk/
dot/.config/gh-copilot/
dot/.config/stripe/
dot/.config/zed/conversations/
dot/.config/zed/embeddings/
dot/.config/zed/prompts/

# Lua RC
.luarc.json

# Unsplash API Key
.unsplash_api_key

# local state
dot/.local/bin/aactivator
dot/.local/state/
dot/.local/share/
dot/.local/bin/hs
dot/.local/bin/pandoc-*
dot/.local/bin/poetry
dot/.local/bin/ruff
dot/.local/lib/

# local files
files/go/bin/
!files/go/bin/.gitkeep
files/go/pkg/

# Packer
packer_compiled.lua
