# Macos files
.DS_Store

# Firebase files
logs/
firebase-tools.json
update-notifier-firebase-tools.json

# Copilot configuration
github-copilot/

# SSH files
id_ed25519
id_ed25519.pub
known_hosts
known_hosts.old

# Ansible password
ansible_password.txt

# GPG configuration
private-keys-v1.d
pgp_public.txt
pgp_secret.txt
pubring.kbx
pubring.kbx~
trustdb.gpg

# local share
dot/.local/share/nvim/

# local applications
dot/.config/configstore/
dot/.config/gcloud/
dot/.config/gh/
dot/.config/exercism/
dot/.config/flutter/
dot/.config/pip/

# local state
dot/.local/state/
