appdirs==1.4.4
attrs==19.3.0
autoflake==1.3.1
awscli==1.18.102
black==19.10b0
boto3==1.12.12
botocore==1.15.49
Click==7.0
colorama==0.4.3
distlib==0.3.1
distro==1.5.0
docutils==0.15.2
epc==0.0.5
filelock==3.0.12
flake8==3.8.3
future==0.18.2
ical2orgpy==0.3.0
icalendar==4.0.6
importmagic==0.1.7
Jinja2==2.10
jmespath==0.10.0
kli @ git+ssh://git@git.konfio.mx/platform/kli.git@35f473f7dce15b1af9b0cffcefcdd5210b862039
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.4.0
numpy==1.18.1
packaging==20.4
pandas==0.24.1
pathspec==0.8.0
pbr==5.4.5
pluggy==0.13.1
py==1.9.0
pyasn1==0.4.8
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
regex==2020.7.14
rogit==1.3
rsa==4.5
s3transfer==0.3.3
sexpdata==0.0.3
six==1.15.0
stevedore==3.2.0
toml==0.10.1
typed-ast==1.4.1
tzlocal==2.1
urllib3==1.25.9
virtualenv==20.0.28
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wakatime==13.0.7
wcwidth==0.2.5
